<form action="/private" method="post">
  <input type="text" name="room" placeholder="Private Room" class="field input"></input>
  <input type="submit" name="name" value="submit" class="field submit">
</form>
