<div class="wrapper wrapper--white wrapper--justify">
  <h1 class="headline">automata</h1>
  <div class="nav">
    <a class="btn" href="/public">cd ./public</a>
  </div>
  <div class="nav">
    {{> privateform }}
  </div>
  <div class="nav">
    {{#if errorMsg}}
      <h3>{{errorMsg}}</h3>
    {{/if}}
  </div>
</div>
