<script src="/socket.io/socket.io.js"></script>
<!-- <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script> -->
<div class="wrapper">
  <div id="sketch-container" class="sketch-container"> </div>
</div>

<script type="text/javascript" src="/javascripts/lib/p5.min.js"></script>
<script src="/build/main.js"></script>
