<script src="/socket.io/socket.io.js"></script>
<!-- <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script> -->
<div class="wrapper">
  <div class="nav nav--black">
    <a class="btn" href="../">cd ..</a>
    <div class="btn">README.md</div>
  </div>
  <div id="wrapper__canvas" class="wrapper__canvas"></div>
  <div>
    <span class="wrapper__dollar">$</span><input type="text" name="terminal" value="" placeholder="123/1" class="wrapper__terminal">
  </div>
  <h1 class="warning"></h1>
</div>
<script src="/javascripts/lib/mainLoop.min.js"></script>
<script src="/javascripts/lib/p5.min.js"></script>
<script src="/build/main.js"></script>
