<script src="/socket.io/socket.io.js"></script>
<!-- <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script> -->
<div class="wrapper">
  <div class="nav nav--black">
    <a class="btn" href="/">cd ..</a>
    <a href="/{{room}}/readme" class="btn">README.md</a>
  </div>
  <div id="wrapper__canvas" class="wrapper__canvas">
    <div class="flags">
      <span class="flags__flag flags--color1">0%</span>
      <span class="flags__flag flags--color2">0%</span>
      <span class="flags__flag flags--color3">0%</span>
      <span class="flags__flag flags--color4">0%</span>
    </div>
  </div>
  <div class="terminal">
    <span class="terminal__dollar">$</span><input type="text" name="terminal" value="" placeholder="type S/B rule here" class="terminal__input">
    <p class="terminal__info">E.G. 23/16, then press Enter</p>
  </div>
  <h1 class="warning"></h1>
</div>
<script src="/javascripts/lib/mainLoop.min.js"></script>
<script src="/javascripts/lib/p5.min.js"></script>
<script src="/build/main.js"></script>
