<div class="wrapper">


  <template class="template">
    <li></li>
  </template>

  <ul id="messages"> </ul>

  <form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>

  <div id="sketch-container" class="sketch-container"> </div>

  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/javascripts/lib/p5.min.js"></script>
  <script src="/build/main.js"></script>

</div>
