<div class="wrapper">
  <div class="nav nav--black">
    <a class="btn" href="/{{room}}">cd ..</a>
  </div>
  <style>
    .highlight{
      background-color:white;
      color:black;
    }
  </style>
  <p class="wrapper__p">
    NAME
    automata - a multiplayer game where cellular automata compete for supremacy.

    WIN CONDITION
    You win when your automata occupies at least 80% of the board.

    THE CATCH
    If any 2 different colored automata collide every cell connected to the collision by association dies.

    DESCRIPTION
    The only way to interact with your automata is by defining Survival/Birth (S/B) conditions in the browser CLI.

    S - consists of a list of numbers, each of which represent how many living neighbors are necessary for a <span class="highlight">living</span> cell to <span class="highlight">survive</span>.
    B - consists of a list of numbers, each of which represent how many living neighbors are necessary for a <span class="highlight">dead</span> cell to be <span class="highlight">born</span>.

    USAGE
    $ /[0-9]*\/[0-9]*/

    EXAMPLES
    $ 0124/14
    $ /123
    $ 1356/

    FIG 1.

    0 | 1 | 0
    --+---+--
    0 | c | 1
    --+---+--
    0 | 0 | 1

    If we apply the S/B rule 134/25 to the cell depicted in FIG 1. we see that there are 3 living neighbors.

    We can deduce that if c is living (c=1) then it will survive b/c rule S includes a 3.
    However, if c is dead (c=0) then it will stay dead b/c rule B does not include a 3.

    FURTHER READING
    Google "Life-like cellular automaton" for more information.

    AUTHOR
    Jake Wood

    LICENCE
    This project is licensed under the terms of the MIT license.
  </p>
</div>
