
/* Block */
.nav {
  width:100vw;
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  background-color: #ffffff;
  color: black;
  margin: 1ch;
  padding: 1ch;
  text-align: center;
  border:1px solid black;
  border-radius: $subtle-radius;
  font-size: $medium-font;
  font-family: $mobile-font-family;

  @include m('hover:hover'){
    cursor: pointer;
  }
}
