
/* Block */
.nav {
  padding-top: 20px;

  @include e('warning'){
    padding:0;
  };

  display: block;
  text-align: center;

  @include m('black'){
    background-color: #000;
  }
}

.form{

  @include m('input'){
    outline-color: #000;
  };

  opacity: 1;
  @include m('hide'){
    opacity: 0;
  }
}

.btn {
  display: inline-block;
  background-color: #ffffff;
  color: black;
  margin: 5px;
  padding: 5px;
  @include tablet{
    margin: 1ch;
    padding: 1ch;
  }
  text-align: center;
  border:1px solid black;
  border-radius: $subtle-radius;
  font-size: $medium-font;
  font-family: $code-font;

  &:hover:enabled{
    cursor: pointer;
  }

  transition: opacity 1s ease;

}
