@import 'reset';
@import 'consts';
@import 'mixins';
@import 'normalize';
@import 'clickable';


.wrapper {
  width: 100%;
  height: 100vh;
  margin:0;
  padding:0;

  @include e('canvas') {
    display: flex;
    justify-content: center;
  }
}
