@import 'reset';
@import 'consts';

html,body{
  background: white;
  width:100%;
  max-width: 100%3;
  min-height:100vh;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding: 5px 10px;

    &:nth-child(odd) {
      background: #eee;
    }

  }
}

#messages li

h1,h2,h3{
  text-align: center;
  font-weight: bold;
  font-size: $large-font-weight;
  padding: 20px 0 20px 0;
}

input{
  border-radius: $subtle-radius;
  border: solid 1px black;
}

.form{
  /*height: 18pt;*/
  font-size: 18pt;
  padding-left: 10px;
}

.input{
  width:10ch;
}

.container{
  text-align: center;
}

.sketch-container{
  width:640px;
  height:480px;
  margin:0 auto;

  border: black solid 2px;
  border-radius: $subtle-radius;

  canvas{
    border-radius: $subtle-radius;
  }
}
