@import 'reset';
@import 'consts';

html,body{
  background: white;
  width:100%;
  max-width: 100%3;
  min-height:100vh;
}

h1,h2,h3{
  text-align: center;
  font-weight: bold;
  font-size: $large-font-weight;
  padding: 20px 0 20px 0;
}

input{
  border-radius: $subtle-radius;
  border: solid 1px black;
}

.forms {

  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  .button{
    width: 242px;
  }
  .input{
    height:31px;
    width:10ch;
  }

  .field{
    display: inline;
    font-size: 18pt;
    padding-left: 6px;
  }
}

.container{
  text-align: center;
}

.sketch-container{
  width:640px;
  height:480px;
  margin:0 auto;

  border: black solid 2px;
  border-radius: $subtle-radius;

  canvas{
    border-radius: $subtle-radius;
  }
}
